.card-games-container {
    display: grid;    
}

.card-games {
    height: 300px;
    width: 200px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    font-size: 10px;
}

.card-games-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-games-footer {
    position: absolute;
    align-content: center;
    bottom: 0;
    left: 0;
    width: 100%;    
    backdrop-filter: blur(10px);    
    height: 30%;
    border-radius: 0 0 5px 5px;
}